.theaters
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
.ant-tabs-left
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}

.theaters .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  text-align: left;
  padding: 28px 24px;
}

.theaters .ant-tabs-ink-bar {
  /* background: rgb(239, 68, 68); */
  display: none;
}

.theaters .ant-tabs-tab {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.theaters .ant-tabs-tab:hover {
  opacity: 1;
}

.theaters .ant-tabs-tab.ant-tabs-tab-active {
  opacity: 1;
}

.theaters .theaters-item .ant-tabs-nav-list {
  max-height: 800px;
  overflow: hidden auto;
}

.theaters .theaters-item .ant-tabs-nav {
  min-width: 308px;
}

.theaters .theaters-item-info {
  max-width: 200px;
}

.theater-movies {
  max-height: 800px;
  overflow: hidden auto;
}

.theater-movies .theater-movies-item:last-child {
  border-bottom: none;
}

.theaters .theaters-item .ant-tabs-nav-list::-webkit-scrollbar,
.theater-movies::-webkit-scrollbar {
  width: 6px;
  transition: all 0.3s ease;
}

.theaters .theaters-item .ant-tabs-nav-list::-webkit-scrollbar-thumb,
.theater-movies::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
