.checkout .ant-tabs-tab-btn {
  font-size: 18px;
}

.checkout .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.checkout .ant-tabs-tab:hover {
  color: #ef4444;
}

.checkout .ant-tabs-ink-bar {
  background: #ef4444;
}

.checkout .seatList {
  min-width: 600px;
  overflow: auto hidden;
}

.seat {
  background-color: #6b7280;
  margin: 3px;
}

.seatVip {
  background-color: #f59e0b;
}

.seatBooked {
  background-color: #ef4444;
  cursor: no-drop;
}

.seatBooking {
  background-color: #10b981;
}
